
PublicHoliday/.vs/ProjectEvaluation/

PublicHoliday/.vs/PublicHoliday/config/

PublicHoliday/.vs/PublicHoliday/DesignTimeBuild/

PublicHoliday/.vs/PublicHoliday/FileContentIndex/

PublicHoliday/.vs/PublicHoliday/v17/

PublicHoliday/PublicHoliday/bin/Debug/net6.0/

PublicHoliday/PublicHoliday/obj/Debug/net6.0/

PublicHoliday/PublicHoliday/obj/
